@page "/StudentLayout"
@layout StudentLayout

<PageTitle>Trang chủ</PageTitle>
<div class="container-fluid p-0">
    <div class="row vh-75">
        <div class="col-12 p-0">
            <img src="image/BannerHome.png" alt="Banner Home" class="w-100 border" />
        </div>
    </div>
    <div class="container mt-4 ">
        <div class="d-flex justify-content-between text-center">
            <div class="d-flex flex-column align-items-center">
                <i class="bi bi-bank  fs-1"></i>
                <h5 class="title">Trường học thông minh</h5>
                <a href="#" class="subtitle"></a>
            </div>
            <div class="d-flex flex-column align-items-center">
                <i class="bi bi-mortarboard  fs-1"></i>
                <h5 class="title">Đổi mới thi cử</h5>
                <a href="#" class="subtitle"></a>
            </div>
            <div class="d-flex flex-column align-items-center">
                <i class="bi bi-trophy fs-1"></i>
                <h5 class="title">Kết quả chính xác</h5>
                <a href="#" class="subtitle"></a>
            </div>
            <div class="d-flex flex-column align-items-center">
                <i class="bi bi-diagram-3 fs-1"></i>
                <h5 class="title">Kết nối tri thức</h5>
                <a href="#" class="subtitle"></a>
            </div>
        </div>
    </div>
</div>

