<footer class="text-white">
    <div class=" text-center">
        <h5 class="fw-bold">🏫 Trường  ABC</h5>
        <p class="text-sm mb-1"><i class="bi bi-envelope-fill text-warning"></i> Email: contact@abc.edu.vn</p>
        <p class="text-sm mb-1"><i class="bi bi-telephone-fill text-success"></i> Số điện thoại: 0123-456-789</p>
        <p class="text-sm mb-1"><i class="bi bi-geo-alt-fill text-danger"></i> Địa chỉ: 123 Đường ABC, ABC, TP. ABC</p>
        <p class="text-sm mt-3">&copy; 2025 Trường ABC. Mọi quyền được bảo lưu.</p>
    </div>
</footer>

