@inherits LayoutComponentBase

@inject NavigationManager Navigation
@inject Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage.ProtectedSessionStorage SessionStorage


<div>
    <article>
        @Body
    </article>
</div>

@code {
    private string userRole = "default";
    private bool _isRendered;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await SessionStorage.GetAsync<string>("userRole");
            if (result.Success && !string.IsNullOrEmpty(result.Value))
            {
                userRole = result.Value;
                StateHasChanged(); // Cập nhật lại UI sau khi có dữ liệu
            }
        }
    }
}


@if (userRole == "1")
{
    Navigation.NavigateTo("/StudentLayout", forceLoad: true);
}
else if (userRole == "2")
{
    Navigation.NavigateTo("/TeacherLayout", forceLoad: true);
}
