@inherits LayoutComponentBase

@inject NavigationManager Navigation
@inject Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage.ProtectedSessionStorage SessionStorage


<div>
    <article class="content px-4">
        @Body
    </article>
</div>

@code {
    private string userRole = "default";
    private bool _isRendered;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await SessionStorage.GetAsync<string>("userRole");
            if (result.Success && !string.IsNullOrEmpty(result.Value))
            {
                userRole = result.Value;
                StateHasChanged(); // Cập nhật lại UI sau khi có dữ liệu
            }
        }
    }
}

@if (userRole == "1")
{
    <StudentLayout>
        @Body
    </StudentLayout>
}
else if (userRole == "2")
{
    <TeacherLayout>
        @Body
    </TeacherLayout>
}
else
{
    <DefaultLayout>
        @Body
    </DefaultLayout>
}
