nav .nav-link {
    padding: 10px 15px;
    font-size: 18px;
    font-family: sans-serif;
}
.navbar {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

    .navbar.scrolled {
        background-color: rgba(241, 245, 236, 0.95) !important; 
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    }
        .navbar.scrolled .nav-text {
            color: #2C2C54 !important;
        }
        .navbar.scrolled .nav-icon {
            color: dodgerblue !important; 
        }

    .navbar .nav-text {
        color: #2C2C54 !important;
    }
    .navbar .nav-icon {
        color: dodgerblue !important; 
    }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }
}
