@inherits LayoutComponentBase
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.BottomRight"
                Timeout="10"
                IconType="Blazored.Toast.Configuration.IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                WarningIcon="fa fa-warning"
                InfoIcon="fa fa-info-circle" />
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-12  fixed-top">
            <NavMenu />
        </div>
    </div>
    <div class="row">
        <div class="col-12 min-vh-100">
            <div class="">
                @Body
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-gray-900  text-white text-center py-3">
            <Footer />
        </div>
    </div>
</div>

