@inherits LayoutComponentBase
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-12  fixed-top">
            <NavMenu />
        </div>
    </div>
    <div class="row">
        <div class="col-12 min-vh-100 d-flex justify-content-center">
            <div class="">
                @Body
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-gray-900  text-white text-center py-3">
            <Footer />
        </div>
    </div>
</div>

