@inherits LayoutComponentBase

<div class="d-flex">
    <NavMenuTeacher />

    <div class="content flex-grow-1 p-4">
        @Body
    </div>
</div>

<style>
    .content {
        margin-right: 400px;
    }
</style>
